@media (min-width: 992px) {
	.sidebar {
		height: 100vh;
	}

	main {
		height: 100vh;
		overflow: scroll;
	}
}

.sidebar {
	background: #05265b;
	margin-left: 0;
	color: white;
}

.projects-content {
	width: 100%;
}

.nav-top {
	background: rgba(206,206,206,0.2);
	height: auto;
	padding-right: 10px;
	overflow: auto;
}

.nav-muted,.nav-pills>li>a {
	color: #bfbfbf;
}

.profile-img {
	width: 50%;
	max-width: 50%;
}

.container-fluid {
    width: 100%;
}

.content-half {
	height: 50%;
}

.content-half img {
    height: 300px;
    width: auto;
}

.content {
	max-height: 100%;
}

.instagram-content {
	 background: #FFF;
	 border: 0;
	 border-radius: 3px;
	 box-shadow: 0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
	 margin: 1px;
	 max-width: 658px;
	 padding: 0;
	 width: 99.375%;
	 width: calc(100% - 2px);
}

.instagram-wrapper {
	padding: 8px;
}

.instagram-outer-div {
	background: #F8F8F8;
	line-height: 0;
	margin-top: 40px;
	padding: 28.0555555556% 0;
	text-align: center;
	width: 100%;
}

.instagram-inner-div {
	 background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC);
	 display: block;
	 height: 44px;
	 margin: 0 auto -44px;
	 position: relative;
	 top: -22px;
	 width: 44px;
}

.instagram-paragraph {
	color: #c9c8cd;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 0;
	margin-top: 8px;
	overflow: hidden;
	padding: 8px 0 7px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.instagram-link {
	color: #c9c8cd;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	line-height: 17px;
	text-decoration: none;
}

.instagram-time {
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 17px;
}